.header {
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-header-icon a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px;
    height: 100%;
    color: #133055;
    line-height: 50px;
}

.nav-header-icon {
    margin: 0px 10px;
    height: 55px;
    float: right;
}

.img-logo {
    width: 185px;
    cursor: pointer;
}

.nav-toggle {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 0;
}

.nav-header a.ativo-menu {
    background-color: #1bad00;
    color: #fff;
}


.nav-header a:hover,
.nav-header-toggle a:hover {
    background-color: #1bad00;
    color: #fff;
}

@media (max-width: 640px) {
    .nav-full {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle-icon {
        display: block;
    }

    .nav-header {
        margin: 0px;
        border-top: 1px solid #ccc;
    }

    .nav-header a {
        text-decoration: none;
        padding: 0px 20px;
        height: 100%;
        color: #133055;
        line-height: 50px;
        display: block;
        text-align: center;
    }
}

@media (min-width: 640px) {
    .nav-full {
        display: block;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-icon {
        display: none;
    }

    .nav-header {
        margin: 0px 10px;
        height: 55px;
        float: right;
    }

    .nav-header a {
        display: inline-block;
        text-decoration: none;
        padding: 0px 20px;
        height: 100%;
        color: #133055;
        line-height: 50px;
    }
}