#sobre {
    padding: 100px 80px 60px;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
}

.foto-perfil{
    border-radius: 50%;
    box-shadow: 2px 5px 9px 2px rgb(145, 145, 145);
}

.title_sobre {
    font-weight: bold;
    font-size: 16pt;
}

.subtile_sobre {
    margin-top: 20px;
    font-style: italic;
    margin: 55px 60px 70px;
    font-size: 14pt;
}

.paragrafo_sobre {
    margin-top: 20px;
}

.card{
    width: 100%;
    margin-top: 30px;
}

.card-item{
    text-align: center;
    color: #146305;
    display: inline-block;
    margin: 0 25px;
}

.info_sobre {
    margin-top: 10px;
    font-size: 13pt;
    font-weight: 500;
}

.info-card {
    background-color: #ffffff;
    padding: 40px;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 2px 8px 0px #cecece;
}

.info-card:hover {
    background-color: #189a00;
    color: #fff;
}

.info-card svg {
    margin-top: 32px;
}