#sobre {
    padding: 100px 80px 60px;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
}

.foto-perfil{
    border-radius: 50%;
    box-shadow: 2px 5px 9px 2px rgb(145, 145, 145);
}

.title_sobre {
    font-weight: bold;
    font-size: 16pt;
}

.subtile_sobre {
    margin-top: 20px;
    font-style: italic;
    margin: 55px 60px 70px;
    font-size: 14pt;
}

.paragrafo_sobre {
    margin-top: 20px;
}

.card{
    width: 100%;
    margin-top: 30px;
}

.card-item{
    text-align: center;
    color: #146305;
    display: inline-block;
    margin: 0 25px;
}

.info_sobre {
    margin-top: 10px;
    font-size: 13pt;
    font-weight: 500;
}

.info-card {
    background-color: #ffffff;
    padding: 40px;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 2px 8px 0px #cecece;
}

.info-card:hover {
    background-color: #189a00;
    color: #fff;
}

.info-card svg {
    margin-top: 32px;
}

@media only screen and (max-width: 479px) {
    #sobre {
        padding: 100px 10px 60px;
    }

    .card-item {
        margin: 15px 20px 0;
    }
}

@media only screen and (min-width: 480px) { 
    #sobre {
        padding: 100px 10px 60px;
    }

    .card-item {
        margin: 15px 20px 0;
    }

    .info-card svg {
        margin-top: 15px;
    }

    .info-card {
        width: 100px;
        height: 100px;
    }

    .info_sobre {
        font-size: 10pt;
    }
 }
@media only screen and (min-width: 600px) { 
    #sobre {
        padding: 100px 10px 60px;
    }

    .card-item {
        margin: 15px 20px 0;
    } 
 }
@media only screen and (min-width: 768px) { 
    .card-item {
        margin: 15px 20px 0;
    } 
 }
@media only screen and (min-width: 992px) { 
    .card-item {
        margin: 15px 45px 0;
    }    
 }