@import './reset.css';
@import './header.css';
@import './footer.css';

@import './educacao.css';
@import './habilidades.css';
@import './sobre.css';
@import './contato.css';
@import './modal.css';

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../image/background-home.png');
    background-size: 100vw;
    background-attachment: fixed;
}

#iconTimesMenu {
    display: none;
}

.btn {
    margin: 20px 0;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    background-color: #1cad01;
    color: #FFF;
    font-weight: bold;
}

.btn:hover {
    background-color: #3f1096;
}