@import './reset.css';
@import './header.css';
@import './footer.css';

@import './educacao.css';
@import './habilidades.css';
@import './sobre.css';
@import './contato.css';
@import './modal.css';

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../image/background-home.png');
    background-size: 100vw;
    background-attachment: fixed;
}

#iconTimesMenu {
    display: none;
}