@import './reset.css';
@import './header.css';
@import './footer.css';

body {
    background-color: #ecfdff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#iconTimesMenu {
    display: none;
}